<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Partener With Us</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" integrity="sha512-Fo3rlrZj/k7ujTnHg4CGR2D7kSs0v4LLanw2qksYuRlEzO+tcaEPQogQ0KaoGN26/zrn20ImR1DfuLWnOo7aBA==" crossorigin="anonymous" referrerpolicy="no-referrer"
    />
    <link rel="stylesheet" href="./bootstrap/bootstrap.min.css">
    <link rel="stylesheet" href="./bootstrap/bootstrap.css">
    <link rel="stylesheet" href="./css/style.css">
    <link rel="stylesheet" href="./css/partenarWithUs.css">
    <!-- box icons link  -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://unpkg.com/boxicons@2.1.1/dist/boxicons.js"></script>
    <link href='https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css' rel='stylesheet'>

</head>
<div class="row" id="WeMadeItsImple">
    <div class="col-12 px-0 bn3step_img_parent">
        <img src="./SUKAII Icons/Book-Now-Banner.png" class="w-100 bn3step_img" alt="">
    </div>
</div>

<div class="container px-1 mt-5">
    <div class=" border-bottom border-dark row">
        <div class="border-dark border-right col-6 px-2 text-center">
            <img src="./SUKAII Icons/Covid.png" style="width: 75%;" class=" mb-3 services_images" alt="">
            <h6 class="font-weight-bold small text-center">COVID RT-PCR TEST</h6>
            <a href="./bookcovid-pcr.html"><button type="button"  class="btn btn-sm font-weight-bold px-3 sukaii_pink_bgcolor text-center text-light mb-3">BOOK</button></a>
        </div>
        <div class="border-dark border-left col-6 px-2 text-center">
            <img src="./SUKAII Icons/BASIC-HEALTH-CHECK-UP.png" style="width: 75%;" class="mb-3 services_images" alt="">
            <h6 class="font-weight-bold small text-center">BASIC HEALTH CHECK UP</h6>
            <a href="./basic_health_chekup.html"><button type="button"  class="btn btn-sm font-weight-bold px-3 sukaii_pink_bgcolor text-center text-light mb-3">BOOK</button></a>
        </div>
    </div>
    <div class=" border-top border-dark row">
        <div class="border-dark border-right col-6 px-2 text-center pt-3">
            <img src="./SUKAII Icons/COMPLETE-HEALTH-CHECK-UP.png" style="width: 75%;" class="mb-3 services_images" alt="">
            <h6 class="font-weight-bold small text-center">COMPLETE HEALTH CHECK UP</h6>
            <a href="./complete_health_checkup.html"><button type="button"  class="btn btn-sm font-weight-bold px-3 sukaii_pink_bgcolor text-center text-light mb-3">BOOK</button></a>
        </div>
        <div class="border-dark border-left col-6 px-2 text-center pt-3">
            <img src="./SUKAII Icons/LEN-LEN-TEST.png" style="width: 75%;" class=" mb-3 services_images" alt="">
            <h6 class="font-weight-bold small text-center">LEN-LEN TEST</h6>
            <a href="./len-len_checkup.html"><button type="button"  class="btn btn-sm font-weight-bold px-3 sukaii_pink_bgcolor text-center text-light mb-3">BOOK</button></a>
        </div>
    </div>
</div>

<body>

</body>

</html>