<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Profile</title>
    <link rel="stylesheet" href="./bootstrap/bootstrap.css">
    <link rel="stylesheet" href="./bootstrap/bootstrap.min.css">
    <link rel="stylesheet" href="./css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" integrity="sha512-9usAa10IRO0HhonpyAIVpjrylPvoDwiPUiKdWk5t3PyolY1cOd4DSE0Ga+ri4AuTroPR5aQvXU9xC6qOPnzFeg==" crossorigin="anonymous" referrerpolicy="no-referrer"
    />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <style>
        .profile p {
            font-family: var(--secondryText);
        }
        .rotateIcon{
            transform: rotate(90deg);
        }
        
    </style>

</head>

<body>
    <div class="container" style="border-bottom: 2px solid gray;">
        <div class="row m-2">
            <div class="align-items-baseline col-md-12 d-flex justify-content-between px-0">
                <span style="padding: 6px 11px;" class="border-dark border rounded-circle"><i class="text-muted fa-solid fa-user"></i></span>
                <span><b>FAQ</b></span>
                <span><i style="font-size: 20px; color: var(--themeGreen);" class="fa-solid fa-bars"></i></span>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row pt-3 profile">
            <a href="#" class="text-dark w-100" style="text-decoration: none;">
                <div class="align-items-baseline col-12 d-flex justify-content-between pb-2 pt-3 px-0" style="border-bottom: 2px solid #cfcece;">
                    <p class="mb-0">Question-1 Lorem ipsum dolor sit amet consectetur.</p>
                    <span><i class="fa-solid fa-caret-right pr-1" style="color: var(--themeGreen);"></i></span>
                </div>
            </a>
            <a href="#" class="text-dark w-100" style="text-decoration: none;">
                <div class="align-items-baseline col-12 d-flex justify-content-between pb-2 pt-3 px-0" style="border-bottom: 2px solid #cfcece;">
                    <p class="mb-0">Question-2 Lorem ipsum dolor sit amet consectetur.</p>

                    <span><i class="fa-solid fa-caret-right pr-1" style="color: var(--themeGreen);"></i></span>
                </div>
            </a>
            <a href="#" class="text-dark w-100" style="text-decoration: none;">
                <div class="align-items-baseline col-12 d-flex justify-content-between pb-2 pt-3 px-0" style="border-bottom: 2px solid #cfcece;">
                    <p class="mb-0">Question-3 Lorem ipsum dolor sit amet consectetur.</p>

                    <span><i class="fa-solid fa-caret-right pr-1" style="color: var(--themeGreen);"></i></span>
                </div>
            </a>
            <a href="#" class="text-dark w-100" style="text-decoration: none;">
                <div class="align-items-baseline col-12 d-flex justify-content-between pb-2 pt-3 px-0" style="border-bottom: 2px solid #cfcece;">
                    <p class="mb-0">Question-4 Lorem ipsum dolor sit amet consectetur.</p>

                    <span><i class="fa-solid fa-caret-right pr-1" style="color: var(--themeGreen);"></i></span>
                </div>
            </a>
            <a href="#" class="text-dark w-100" style="text-decoration: none;">
                <div class="align-items-baseline col-12 d-flex justify-content-between pb-2 pt-3 px-0" style="border-bottom: 2px solid #cfcece;">
                    <p class="mb-0">Question-5 Lorem ipsum dolor sit amet consectetur.</p>

                    <span><i class="fa-solid fa-caret-right pr-1" style="color: var(--themeGreen);"></i></span>
                </div>
            </a>
            

        </div>
    </div>
    <div class="book_service text-center">
        <a href="./newSukaiiLoginPage.html"><button type="button" class="px-3 btn btn-light btn-sm" style="margin-top: 7rem; background-color: var(--themePink); color: white; border-radius: 6px;"><b>LOGOUT</b></button></a>
    </div>
    <div class="modal fade" id="pwusuccess" tabindex="-1" role="dialog" aria-labelledby="pwusuccess" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="m-auto modal-content w-75" style="background-color: var(--themeGreen);">
                <div class="modal-body">
                    <h5 class="font-weight-bold text-center sukaii_pink_color" style="font-family: var(--primaryText);">Thank You for grtting in touch</h5>
                    <p class="text-center text-light" style="font-family: var(--secondryText);">We will be back o you shortly.</p>
                </div>
            </div>
        </div>
    </div>
</body>

</html>