<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sukaii</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" integrity="sha512-Fo3rlrZj/k7ujTnHg4CGR2D7kSs0v4LLanw2qksYuRlEzO+tcaEPQogQ0KaoGN26/zrn20ImR1DfuLWnOo7aBA==" crossorigin="anonymous" referrerpolicy="no-referrer"
    />
    <link rel="stylesheet" href="./bootstrap/bootstrap.min.css">
    <link rel="stylesheet" href="./bootstrap/bootstrap.css">
    <link rel="stylesheet" href="./css/style.css">
    <link rel="stylesheet" href="">
    <!-- box icons link  -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://unpkg.com/boxicons@2.1.1/dist/boxicons.js"></script>
    <link href='https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css' rel='stylesheet'>

</head>

<body>
    <div class="row">
        <div class="col-12">
            <h6 class="font-weight-bold">Previous payment methods</h6>
            <div class="row mb-3">
                <div class="col-6 px-1 rounded">
                    <div class="border px-4 py-3 rounded" style="background: #f1f1f1;">
                        <div class="align-items-center d-flex justify-content-between mb-3">
                            <img src="./images/visa_CARD.png" alt="" style="height: 42px; width: 81px;" class="rounded">
                            <span><i class="fa-solid fa-circle-chevron-right"></i></span>
                        </div>
                        <div class="">
                            <p class="mb-0 small">BANK</p>
                            <p class="mb-0 small">....6789</p>

                        </div>
                    </div>
                </div>
                <div class="col-6 px-1 rounded">
                    <div class="border px-4 py-3 rounded" style="background: #f1f1f1;">
                        <div class="align-items-center d-flex justify-content-between mb-3">
                            <img src="./images/master-card.png" alt="" class="rounded w-50">
                            <!-- <span><i class="fa-brands fa-cc-visa" style="
                                font-size: xx-large;
                            "></i></span> -->
                            <span><i class="fa-solid fa-circle-chevron-right"></i></span>
                        </div>
                        <div class="">
                            <p class="mb-0 small">BANK</p>
                            <p class="mb-0 small">....6789</p>

                        </div>
                    </div>
                </div>


            </div>
            <div class="row mb-5">
                <div class="col-6 px-1 rounded">
                    <div class="border px-4 py-3 rounded" style="background: #f1f1f1;">
                        <div class="align-items-center d-flex justify-content-between mb-3">
                            <img src="./images/pay_pal.png" alt="" style="height: 41px;" class="rounded w-50">

                            <span><i class="fa-solid fa-circle-chevron-right"></i></span>
                        </div>
                        <div class="">
                            <p class="mb-0 small">BANK</p>
                            <p class="mb-0 small">....6789</p>

                        </div>
                    </div>
                </div>
                <div class="col-6 px-1 rounded">
                    <div class="border px-4 py-3 rounded" style="background: #f1f1f1;">
                        <div class="align-items-center d-flex justify-content-between mb-3">

                            <img src="./images/true_moeny.png" alt="" style="width: 67%;" class="rounded">
                            <span><i class="fa-solid fa-circle-chevron-right"></i></span>
                        </div>
                        <div class="">
                            <p class="mb-0 small">BANK</p>
                            <p class="mb-0 small">....6789</p>

                        </div>
                    </div>
                </div>
            </div>
            <div class="container">
                <h6 class="mb-0 font-weight-bold">Debit or Credit Card</h6>

                <div class="row pt-3 profile">
                    <a href="./sukaii_help_center.html" class="text-dark w-100" style="text-decoration: none;">
                        <div class="align-items-baseline col-12 d-flex justify-content-between pb-2 px-0" style="border-bottom: 2px solid #cfcece;">
                            <span>                            <img src="./images/visa_CARD.png" alt="" style=" width: 58px;" class="rounded">
                                <span class="pl-4">....1234</span></span>
                            <span><i class="fa-solid fa-caret-right pr-1" style="color: var(--themeGreen);"></i></span>
                        </div>
                    </a>
                    <a href="#" class="text-dark w-100" style="text-decoration: none;">
                        <div class="align-items-baseline col-12 d-flex justify-content-between pb-2 pt-3 px-0" style="border-bottom: 2px solid #cfcece;">
                            <span>                            <img src="./images/master-card.png" alt="" class="rounded" style="width: 58px;">
                                <span class="pl-4">....5678</span></span>
                            <span><i class="fa-solid fa-caret-right pr-1" style="color: var(--themeGreen);"></i></span>
                        </div>
                    </a>
                    <a href="#" class="text-dark w-100" style="text-decoration: none;">
                        <div class="align-items-baseline col-12 d-flex justify-content-between pb-2 pt-3 px-0" style="border-bottom: 2px solid #cfcece;">
                            <span>                            <img src="./images/pay_pal.png" alt="" style="width: 58px;" class="rounded">
                                <span class="pl-4">....9012</span></span>
                            <span><i class="fa-solid fa-caret-right pr-1" style="color: var(--themeGreen);"></i></span>
                        </div>
                    </a>
                    <a href="./partenerWithUs.html" class="text-dark w-100" style="text-decoration: none;">
                        <div class="align-items-baseline col-12 d-flex justify-content-between pb-2 pt-3 px-0" style="border-bottom: 2px solid #cfcece;">
                            <span>                            <img src="./images/true_moeny.png" alt="" style="width: 58px;" class="rounded">
                                <span class="pl-4">....3456</span></span>
                            <span><i class="fa-solid fa-caret-right pr-1" style="color: var(--themeGreen);"></i></span>
                        </div>
                    </a>

                </div>
            </div>
        </div>
    </div>
</body>

</html>