<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Profile</title>
    <link rel="stylesheet" href="./bootstrap/bootstrap.css">
    <link rel="stylesheet" href="./bootstrap/bootstrap.min.css">
    <link rel="stylesheet" href="./css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" integrity="sha512-9usAa10IRO0HhonpyAIVpjrylPvoDwiPUiKdWk5t3PyolY1cOd4DSE0Ga+ri4AuTroPR5aQvXU9xC6qOPnzFeg==" crossorigin="anonymous" referrerpolicy="no-referrer"
    />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

</head>

<body>
    <header id="Header"></header>

    <div class="container pt-3 pb-4" style="border-bottom: 2px solid gray;">
        <div class="row">
            <div class="align-items-center col-12 d-flex justify-content-between small" style="font-family: var(--primaryText);">
                <div class="test_name d-flex">
                    <span><a href="./sukaii_paytment_invoice.html" class="text-dark"><i class="fa-solid fa-left-long pr-3"></i></a></span>

                    <div class="">
                        <h6 style="font-size: .9rem;" class="mb-0 font-weight-bold">Complete Blood Health check up </h6>
                        <small class="text-muted" style="font-size: 11px; ">Thu, 1st Feb. 2022 at 10.00 AM</small>
                    </div>
                </div>
                <a href="./sukaii_help_center.html"><button type="button" class="btn px-3 text-light sukaii_pink_bgcolor small btn-sm" style="padding: .15rem;"><small>Help</small></button></a>
            </div>
        </div>
        <div class="row">
            <div class="align-items-center col-12 d-flex justify-content-between mt-2">
                <div class="image_section ">
                    <h6 class="sukaii_pink_color font-weight-bold mt-2 mb-0">Thank you for choosing Sukaii</h6>
                    <div class=""><small class="text-muted mb-2" style="font-size: 11px; ">Thu, 1st Feb. 2022 at 10.00 AM</small></div>
                    <button type="button" class="btn px-3 mt-3 text-light sukaii_pink_bgcolor small btn-sm" style="padding: .15rem;"><small>View Receipt</small></button>
                </div>
                <div class="paid_stamp pl-3 w-25">
                    <img src="./SUKAII Icons/paid-Icon.png" class="w-100 sukaii_paid_icon" alt="">
                </div>
            </div>
        </div>
    </div>
    <div class="container py-3" style="border-bottom: 2px solid gray;">
        <div class="row">
            <div class="align-items-center col-12 d-flex mt-2">
                <div class="image_section d-flex align-items-center">
                    <img src="./images/doctors_image-1.PNG" class=" rounded w-25" alt="">
                    <div class="name pl-3">
                        <p class="small font-weight-bold mb-0 ">Pierra Vejjabu</p>
                        <span class="mt-1 small" style="font-size: smaller;">You Rated <i class="fa-solid fa-star sukaii_pink_color"></i> 4.49</span>
                        <p class="mb-0 small"><a href="#" class="sukaii_pink_color font-weight-bold">Edit</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container pt-3">

        <div class="row pt-3 profile">
            <div class="align-items-baseline col-12 d-flex justify-content-between pb-2 pt-3 px-0">
                <h5 class="mb-0 small font-weight-bold">Need help?</h5>
                <!-- <span><i class="fa-solid fa-caret-right pr-1" style="color: var(--themeGreen);"></i></span> -->
            </div>
            <a href="#" class="text-dark w-100" style="text-decoration: none;">
                <div class="align-items-baseline col-12 d-flex justify-content-between pb-2 pt-3 px-0" style="border-bottom: 2px solid gray;">
                    <p class="mb-0 small">Unsatisfactory quality of work</p>
                    <span><i class="fa-solid fa-caret-right pr-1" style="color: var(--themeGreen);"></i></span>
                </div>
            </a>
            <a href="#" class="text-dark w-100" style="text-decoration: none;">
                <div class="align-items-baseline col-12 d-flex justify-content-between pb-2 pt-3 px-0" style="border-bottom: 2px solid gray;">
                    <p class="mb-0 small">Professional left the service incomplete
                    </p>
                    <span><i class="fa-solid fa-caret-right pr-1" style="color: var(--themeGreen);"></i></span>
                </div>
            </a>
            <a href="#" class="text-dark w-100" style="text-decoration: none;">
                <div class="align-items-baseline col-12 d-flex justify-content-between pb-2 pt-3 px-0" style="border-bottom: 2px solid gray;">
                    <p class="mb-0 small">I want the invoice for my service booking</p>
                    <span><i class="fa-solid fa-caret-right pr-1" style="color: var(--themeGreen);"></i></span>
                </div>
            </a>
            <a href="#" class="text-dark w-100" style="text-decoration: none;">
                <div class="align-items-baseline col-12 d-flex justify-content-between pb-2 pt-3 px-0" style="border-bottom: 2px solid gray;">
                    <p class="mb-0 small">Need help with other issues
                    </p>
                    <span><i class="fa-solid fa-caret-right pr-1" style="color: var(--themeGreen);"></i></span>
                </div>
            </a>
        </div>
    </div>
    <div class="save_address text-center">
        <a href="./index.html"><button type="button" class="px-3 btn btn-light btn-sm" style="margin-top: 4rem; background-color: var(--themePink); color: white; border-radius: 6px;"><b>Payment Successful</b></button></a>
    </div>

</body>
<script>
    $(function() {
        $("#Header").load("header.html");
        $("#footer").load("footer.html");
    });
</script>

</html>