<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>save address</title>
    <link rel="stylesheet" href="./bootstrap/bootstrap.css">
    <link rel="stylesheet" href="./bootstrap/bootstrap.min.css">
    <link rel="stylesheet" href="./css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" integrity="sha512-9usAa10IRO0HhonpyAIVpjrylPvoDwiPUiKdWk5t3PyolY1cOd4DSE0Ga+ri4AuTroPR5aQvXU9xC6qOPnzFeg==" crossorigin="anonymous" referrerpolicy="no-referrer"
    />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <style>
        .profile p {
            font-family: var(--secondryText);
        }
    </style>

</head>

<body>
    <header id="Header"></header>

    <div class="container" style="border-bottom: 2px solid gray;">
        <div class="row m-2">
            <div class="align-items-baseline col-md-12 d-flex justify-content-between px-0">
                <!-- <span style="padding: 6px 11px;" class="border-dark border rounded-circle"><i class="text-muted fa-solid fa-user"></i></span> -->
                <span class="sukaii_pink_color"><b>Saved Addresses</b></span>
                <!-- <span><i style="font-size: 20px; color: var(--themeGreen);" class="fa-solid fa-bars"></i></span> -->
            </div>
        </div>
    </div>
    <div class="container pt-3 pb-2" style="border-bottom: 2px solid gray;">
        <div class="row">
            <div class="align-items-center col-12 d-flex justify-content-between small" style="font-family: var(--primaryText);">
                <div class="test_name d-flex">
                    <a href="./fatchAdressWith_map.html"><span><i class=" text-dark fa-solid fa-plus pr-1"></i></span></a>
                    <h6 style="font-size: .9rem;" class="mb-0 font-weight-bold">Add another address</h6>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row profile">
            <div class="col-md-12">

                <a href="./sukaii_paytment_invoice.html" class="text-dark" style="text-decoration: none;">
                    <div class="align-items-baseline col-12 d-flex justify-content-between pb-2 pt-4 px-0" style="border-bottom: 2px solid gray;">
                        <input type="checkbox" name="" class="pr-2  d-block d-md-none" id="">
                        <div class="pl-2">
                            <h6 class="mb-0" style="font-weight: 600;">Home</h6>
                            <small>85/3 Soi Prachumporn Chaengwatana Road Thungsonghong
                            Laksi, Bangkok,- 10210. Thailand</small>
                        </div>
                        <span><i class="fa-solid fa-ellipsis-vertical pr-1"></i></span>
                    </div>
                </a>
                <a href="./sukaii_paytment_invoice.html" class="text-dark" style="text-decoration: none;">
                    <div class="align-items-baseline col-12 d-flex justify-content-between pb-2 pt-4 px-0" style="border-bottom: 2px solid gray;">
                        <input type="checkbox" name="" class="pr-2 d-block d-md-none" id="">
                        <div class="pl-2">
                            <h6 class="mb-0" style="font-weight: 600;">Office</h6>
                            <small>85/3 Soi Prachumporn Chaengwatana Road Thungsonghong
                        Laksi, Bangkok,- 10210. Thailand</small>
                        </div>
                        <span><i class="fa-solid fa-ellipsis-vertical pr-1"></i></span>
                    </div>
                </a>
                <a href="./sukaii_paytment_invoice.html" class="text-dark" style="text-decoration: none;">
                    <div class="align-items-baseline col-12 d-flex justify-content-between pb-2 pt-4 px-0" style="border-bottom: 2px solid gray;">
                        <input type="checkbox" name="" class="pr-2  d-block d-md-none" id="">
                        <div class="pl-2">
                            <h6 class="mb-0" style="font-weight: 600;">Office2</h6>
                            <small>85/3 Soi Prachumporn Chaengwatana Road Thungsonghong
                        Laksi, Bangkok,- 10210. Thailand</small>
                        </div>
                        <span><i class="fa-solid fa-ellipsis-vertical pr-1"></i></span>
                    </div>
                </a>
                <a href="./sukaii_paytment_invoice.html" class="text-dark" style="text-decoration: none;">
                    <div class="align-items-baseline col-12 d-flex justify-content-between pb-2 pt-4 px-0" style="border-bottom: 2px solid gray;">
                        <input type="checkbox" name="" class="pr-2  d-block d-md-none" id="">
                        <div class="pl-2">
                            <h6 class="mb-0" style="font-weight: 600;">Mother’s Home</h6>
                            <small>85/3 Soi Prachumporn Chaengwatana Road Thungsonghong
                        Laksi, Bangkok,- 10210. Thailand</small>
                        </div>
                        <span><i class="fa-solid fa-ellipsis-vertical pr-1"></i></span>
                    </div>
                </a>
                <a href="./sukaii_paytment_invoice.html" class="text-dark" style="text-decoration: none;">
                    <div class="align-items-baseline col-12 d-flex justify-content-between pb-2 pt-4 px-0" style="border-bottom: 2px solid gray;">
                        <input type="checkbox" name="" class="pr-2  d-block d-md-none" id="">
                        <div class="pl-2">
                            <h6 class="mb-0" style="font-weight: 600;">Grand Parent’s Home</h6>
                            <small>85/3 Soi Prachumporn Chaengwatana Road Thungsonghong
                        Laksi, Bangkok,- 10210. Thailand</small>
                        </div>
                        <span><i class="fa-solid fa-ellipsis-vertical pr-1"></i></span>
                    </div>
                </a>
            </div>
        </div>
    </div>
    <div class="book_service text-center">
        <a href="./sukaii_paytment_invoice.html"><button type="button" class="px-3 btn btn-light btn-sm" style="margin-top: 5rem; background-color: var(--themePink); color: white; border-radius: 6px;"><b>PROCEED</b></button></a>
    </div>
</body>
<script>
    $(function() {
        $("#Header").load("header.html");
        $("#footer").load("footer.html");
    });
</script>

</html>